#cbdimg {
    max-width: 350px;
}

#button1 {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 7%;
}

.Cart-Container{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
   }

.basket {
    position: fixed;
    top: 50%;
    right: 9%;
    z-index: 9999999;
    max-width: 100px;
}

.dot {
    position: fixed;
    top: 51%;
    right: 8.5%;
    z-index: 9999999;
    background-color: red;
        height: 35px;
        width: 35px;
        border-radius: 50%;
}

.itemsbought {
    position: fixed;
    top: 51.6%;
    right: 9.2%;
    z-index: 9999999;
    font-size: medium;
    font-weight: bold;
    color: white;
    box-shadow: 3px;
}
